<section class="tablet:flex-col-reverse relative flex flex-col">
  <div class="bg-front-card tablet:absolute tablet:z-10 tablet:top-[55%] mobile:w-[320px] mobile:h-[200px] mobile:px-[22px] shadow-card relative mb-[37px] flex h-[245px] w-full max-w-[446px] rounded-[10px] bg-cover bg-no-repeat pb-[23px] pl-[31px] pr-[33px] text-white" aria-label="front card">
    <img src="/images/card-logo.svg" alt="card logo" class="mobile:w-[60px] absolute top-[28px]" />
    <div class="w-full self-end">
      <span class="mobile:text-base text-[28px] tracking-[3.5px]" id="card-number">0000 0000 0000 0000</span>
      <div class="mt-[20px] flex items-center justify-between">
        <span class="mobile:text-[12px] uppercase tracking-[0.8px]" id="card-name">Jane Appleseed</span>
        <div class="mobile:text-[12px] tracking-[0.8px]"><span id="card-month">00</span>/<span id="card-year">00</span></div>
      </div>
    </div>
  </div>

  <div class="bg-back-card mobile:w-[320px] mobile:h-[180px] shadow-card relative ml-auto h-[245px] w-[446px] rounded-[10px] bg-cover bg-no-repeat text-white" aria-label="back card">
    <span class="mobile:text-[12px] mobile:top-[79px] mobile:right-[35px] absolute right-[58px] top-[109px] tracking-[0.8px]" id="card-code">000</span>
  </div>
</section>