<section class="tablet:mt-[80px] mobile:mt-[50px] mt-[120px] hidden text-center" id="notification">
  <img src="/images/icon-complete.svg" alt="" aria-hidden="true" class="mx-auto mb-[20px]" />
  <h2 class="text-very-dark-violet tracking-[0.8px text-[28px] uppercase">Thank you!</h2>
  <p class="text-gray mt-[20px]">We’ve added your card details</p>
  <button class="bg-very-dark-violet hover:bg-saturate-violet mt-[41px] w-full rounded-lg py-[13.3px] text-[17.6px] tracking-[-0.2px] text-white duration-300">Continue</button>
</section>
