@font-face {
  font-family: "Space Grotesk";
  src: url(/SpaceGrotesk-Medium.woff2) format(woff2);
  font-display: swap;
}

.warning {
  border: 1px solid #ff5252;
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center right 10px;
  animation: shake 0.2s linear;
}
@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}
