@font-face {
  font-family: "Space Grotesk";
  src: url(/SpaceGrotesk-Medium.woff2) format(woff2);
  font-display: swap;
}

.warning {
  border: 1px solid hsl(0, 100%, 66%);
  animation: shake 0.2s linear;
}
@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}
